extends page_layout

block content
    if admin
        p I see you are also the admin of this organization. Wanna check out all of the points people in your organization have?
        button.button(type='button',onclick=`location.href = '/${student._id}/${org_data.org_short_name}/studentlogs'`) Check all members' logs
        br
        br
    h1 This page will show all the events you have participated in #{org_data.org_name}
    br
    ul.org
        - var i = 0;
        each log in logs
            li.list
                h4= log.event_name
                p Date of the event: #{date[i]} CST
                - i++;
                p The amount of points that you got from that event is: #{log.value}
            br