extends page_layout

block content
    h1 Hello #{student.name}! Welcome to Points Up!
    br
    p If you want to return to this page, just click your name in the navigation bar.
    br
    h5 Here are the organizations in which you are a member of!
    br
    div.container
        ul.org
            each point in totalpoints
                li.list
                    h3= point.p_org_name
                    p.right Amount of points you currently have in #{point.p_org_shname}:
                    p.left.points #{point.allpoints}
                    br
                    p.right Check the events #{point.p_org_shname} is hosting!
                    button.left.button(type='button',onclick=`location.href = '/${student._id}/${point.p_org_shname}/desc'`) Events!
                    br
                    p All the events you have sign in into are logged. If you are an admin, you can also check everyone's points.
                    p.right To do so, check the logs!
                    button.left.button(type='button',onclick=`location.href = '/${student._id}/${point.p_org_shname}/logs'`) Logs
                    br
                    button.button(type='button',onclick=`location.href = '/${student._id}/${point.p_org_shname}/leave'`) Leave the Organization
                br
    br
    p In case you are wandering how to get more points, just check if your organization has any events in the events tab. Go to the event and they are supposed to show you a pin. You will just need to write this pin in the password box in the events tab and bum! You got some points!
    br
    br
    button.button(type='button',onclick=`location.href = '/${student._id}/organization/all'`) Explore organizations!
